{% extends 'layouts/log-reg.html.twig' %}

{% block title %}Se connecter à ORME - Organize Me{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if hasError %}
                <p>Erreur login ou mdp</p>
            {% endif %}

            <form action="{{ path('account_login') }}" method="post">
                <input type="text" name="_username" id="email" placeholder="Adresse email.." required value="{{ username }}">
                <input type="password" name="_password" id="password" placeholder="Mot de passe.." required>
                <button type="submit">Connexion !</button>
            </form>
        </div>
    </div>
{% endblock %}
