{% extends 'base.html.twig' %}

{% block title %}Modifier son mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <p>Password edit</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Moifier mon mot de passe</button>
        {{ form_end(form) }}
    </div>
{% endblock %}