{% extends 'base.html.twig' %}

{% block title %}ORME - Modifier le profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <p>Edit</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Enregistrer les mofidications</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}