{% extends 'layouts/form.html.twig' %}

{% block title %}ORME - S'inscrire{% endblock %}

{% block body %}
    <div class="container">
        <div class="logo">
            <a href="/homepage"><img src="{{ asset('build/logo.png') }}" width="200" alt=""></a>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">S'inscrire</button>
        <div class="redirect">
            <p>Vous avez déjà un compte ? <a href="/login">Cliquez ici</a></p>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}