body.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .alert {
        align-self: flex-start;
        top: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 50%;
    }

    & form {

        & div {
            display: flex;
            flex-direction: column;
            text-align: center;

            & > div {

                & > label {
                    margin-bottom: 0.25rem;
                    color: #A8A8A9;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-align: left;
                }
            }
        }
    }
}