<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ORME - Mon journal digital{% endblock %}</title>
        {{ encore_entry_link_tags('css/main') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="log-reg">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {{ encore_entry_script_tags('js/main') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
