<div class="diary__bloc favorites orme reverse">
    <a href="#"><div class="item orme"><img src="https://image.flaticon.com/icons/svg/1077/1077041.svg" alt=""></div></a>
    <a href="#"><div class="item orme"><img src="https://image.flaticon.com/icons/svg/1077/1077041.svg" alt=""></div></a>
    
    <a class="favorites__add" href="#"><div class="item"><img src="https://image.flaticon.com/icons/svg/1828/1828926.svg" alt=""></div></a>
</div>