<nav class="orme sidebar left">
    <div class="custom-menu">
        <button type="button" class="btn btn-primary leftSidebarCollapse">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="widgets">
        <ul class="widgets__list">
            {% for key,widget in array_widgets %}
                <li class="widgets__items" 
                    data-type="{{ key|lower }}"
                >
                    <a href="#">
                        <div class="widget orme">
                            <span class="{{ widget|lower }}">{{ widget|e }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>