<nav class="orme sidebar left">
    <div class="navigation">
        <a href="#" class="navigation__link">
            <div class="navigation__left square"></div>
        </a>
        <input type="text" class="navigation__input">
        <a href="#"  class="navigation__link">
            <div class="navigation__right square"></div>
        </a>
    </div>
    <div class="custom-menu leftSidebarCollapse">
    </div>
    <div class="widgets">
        <ul class="widgets__list">
            {% for key,widget in array_widgets %}
                <li class="widgets__items left" 
                    data-type="{{ key|lower }}"
                >
                    <a href="#">
                        <div class="widget orme">
                            <span class="{{ widget|lower }}">{{ widget|e }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>