<div class="orme popup favorites">
    <div class="popup__box orme">
        <a href="#!" class="popup__close favorites"></a>
        <h2 class="title title-2">Quel favoris souhaité vous ajouter ?</h2>
        <div class="popup__icons">
            <a class="popup__icon" data-favorite="facebook">
                <img src="https://image.flaticon.com/icons/svg/1077/1077041.svg" alt="">
                <span>Facebook</span>
            </a>
            <a class="popup__icon" data-favorite="instagram">
                <img src="https://image.flaticon.com/icons/svg/1077/1077042.svg" alt="">
                <span>Instagram</span>
            </a>
            <a class="popup__icon"  data-favorite="twitter">
                <img src="https://image.flaticon.com/icons/svg/1051/1051382.svg" alt="">
                <span>Twitter</span>
            </a>
            <a class="popup__icon"  data-favorite="reddit">
                <img src="https://image.flaticon.com/icons/svg/2111/2111791.svg" alt="">
                <span>Reddit</span>
            </a>
            <a class="popup__icon"  data-favorite="youtube">
                <img src="https://image.flaticon.com/icons/svg/1077/1077046.svg" alt="">
                <span>Youtube</span>
            </a>
            <a class="popup__icon"  data-favorite="spotify">
                <img src="https://image.flaticon.com/icons/svg/2111/2111805.svg" alt="">
                <span>Spotify</span>
            </a>
            <a class="popup__icon"  data-favorite="deezer">
                <img src="https://image.flaticon.com/icons/svg/49/49080.svg" alt="">
                <span>Deezer</span>
            </a>
            <a class="popup__icon"  data-favorite="gmail">
                <img src="https://image.flaticon.com/icons/svg/2150/2150313.svg" alt="">
                <span>Gmail</span>
            </a>
            <a class="popup__icon"  data-favorite="airbnb">
                <img src="https://image.flaticon.com/icons/svg/888/888886.svg" alt="">
                <span>AirBNB</span>
            </a>
            <a class="popup__icon"  data-favorite="trello">
                <img src="https://image.flaticon.com/icons/svg/2111/2111719.svg" alt="">
                <span>Trello</span>
            </a>
            <a class="popup__icon"  data-favorite="default">
                <img src="https://image.flaticon.com/icons/svg/2235/2235669.svg" alt="">
                <span>Personnalisé</span>
            </a>
        </div>
    </div>
</div>