<div class="orme popup choose">
    <div class="popup__box orme">
        <a href="#!" class="popup__close choose"></a>
        <h2 class="title title-2">Sur quelle page ajouter le widget ?</h2>
        <div class="popup__buttons">
            <a href="#" class="popup__button left choose" data-page-number="{{ coupleLastPageOfCurrentUser[0] }}">Gauche</a>
            <a href="#" class="popup__button right choose" data-page-number="{{ coupleLastPageOfCurrentUser[1] }}">Droite</a>
        </div>
    </div>
</div>