<a class="orme list-group-item list-group-item-action d-flex flex-row align-items-center" href="/account/profile">
    <i class="fa fa-user-edit fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Modifier le profil</span>
</a>
<a class="orme list-group-item list-group-item-action d-flex flex-row align-items-center" href="/account/password">
    <i class="fa fa-key fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Changer de mot de passe</span>
</a>