<a class="list-group-item list-group-item-action d-flex flex-row align-items-center" href="/account/profile">
    <i class="fa fa-user-edit fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Modifier le profil</span>
</a>
<a class="list-group-item list-group-item-action d-flex flex-row align-items-center" href="/account/password">
    <i class="fa fa-key fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Changer de mot de passe</span>
</a>
<a class="list-group-item list-group-item-action d-flex flex-row align-items-center" href="#">
    <i class="fa fa-clipboard fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Lien 3</span>
</a>
<a class="list-group-item list-group-item-action d-flex flex-row align-items-center" href="#">
    <i class="fa fa-box-open fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Lien 4</span>
</a>
<a class="list-group-item list-group-item-action d-flex flex-row align-items-center" href="#">
    <i class="fa fa-wrench fa-fw"></i>
    <span class="d-none d-md-flex ml-1">Lien 5</span>
</a>