.navbar {
    height: 15vh;
    
    .logo {
        height: 75px;
    }

    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .nav-item > * {
        vertical-align: middle;
    }

    .dropdown-menu.fade {
        display: block;
        opacity: 0;
        pointer-events: none;
    }

    .show > .dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }

    .nav-link, 
    .navbar-toggler {
        border: none;
        outline: 0;
    }
}