.widgets__form {
    padding: 1rem;
    direction: ltr;

    &.active {
        display: none;
    }

    & > div {
        margin-bottom: 1rem;
    } 

    h4 {
        letter-spacing: 0.1rem !important;
        font-size: 1rem !important;
        font-weight: 600;
        color: grey;
        margin: 1rem 0 1rem 0;
    }

    label {
        font-size: 0.75rem !important;
        font-weight: 400;
        color: grey;
    }

    textarea {
        text-align: left;
        width: 100%;
    }

    input[type=text],
    input[type=number],
    textarea {
        font-size: 0.75rem !important;
		outline: 0 !important;
		border-width: 0 0 2px !important;
        border-color: grey !important;
        background-color: $light-grey !important;
	}

    &-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a.abandon,
        a.persist {
            margin: 0 0.5rem 0 0.5rem;
        }
    }

    &.text {
        .size,
        .color,
        .formatting {
            display: flex;
            flex-direction: column;
        }

        .bold,
        .italic,
        .underline {
            label {
                margin: 0;
            }
        }

        .size {
            input { 
                height: 50%;
            }
        }

        .color {
            img {
                display: none;
            }
        }

        .highlight-color {
            &.active {
                display: none;
            }
        }
    }

    &.image {
        .link,
        .width,
        .rotate {
            display: flex;
            flex-direction: column;
        }
    }

    &.video {
        .link,
        .text-content {
            display: flex;
            flex-direction: column;
        }
    }

    &.todo {
        .title,
        .todo {
            display: flex;
            flex-direction: column;
        }

        .todo__list {
            list-style:  decimal !important;

            & > li {
                margin-bottom: 0.5rem;
            }
        }
    }
}