{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <h1>Bienvenue sur ORME - Organize me</h1>
    <p>Le premier outil d'organisation ludique et personnalisable</p>
  </div>

  <div>
    <a href="#!">Inscription</a>
    <a href="#!">Connexion</a>
  </div>
{% endblock %}