<div class="widgets__form image active">
    <h4>Widget : Image</h4>

    <div class="link">
        <label>Lien de l'image</label>
        <input data-text="link" type="text" name="link">
    </div>

    <div class="width">
        <label>Largeur de l'image (la hauteur est automatiquement ajustée)</label>
        <input data-text="width" type="number" name="width" min="15" max="350">
    </div>

    <div class="rotate">
        <label>Degré de rotation de l'image</label>
        <input data-text="rotate" type="number" name="rotate" min="-360" max="360">
    </div>

    <div class="widgets__form-actions">
        <a href="#" data-action="persist" class="persist image orme">Confirmer</a>
        <a href="#" data-action="abandon" class="abandon image orme">Annuler</a>
    </div>
</div>