<div class="widgets__form todo active">
    <h4>Favoris</h4>

    <div class="title">
        <label>Titre de la Todo List</label>
        <input data-text="title" type="text" name="title">
    </div>

    <div class="todo">
        <label>Contenu de la Todo List</label>
        <ol class="todo__list" name="todo__list"></ol>
        <div class="todo__actions">
            <a href="#" class="todo__create">
                <div class="todo__create-div"></div>
            </a>
            <a href="#" class="todo__remove">
                <div class="todo__remove-div"></div>
            </a>
        </div>
        
    </div>
    
    <div class="favorites__form-actions">
        <a href="#" data-action="persist" class="persist todo orme">Persist</a>
    </div>
</div>