<div class="widgets__form video active">
    <h4>Widget : Image</h4>

    <div class="link">
        <label>Lien de la vidéo</label>
        <input data-text="link" type="text" name="link">
    </div>

    <div class="text-content">
        <label>Texte du widget</label>
        <input data-text="text-content" type="text" name="text-content">
    </div>
    
    <div class="widgets__form-actions">
        <a href="#" data-action="abandon" class="abandon video orme">Abandon</a>
        <a href="#" data-action="persist" class="persist video orme">Persist</a>
    </div>
</div>