<div class="favorites__form active">
    <h4>Favoris</h4>

    <div class="title">
        <label>Titre du favoris</label>
        <input data-text="title" type="text" name="title">
    </div>

    <div class="icon">
        <label>Lien de l'image du favoris</label>
        <input data-text="icon" type="text" name="icon">
    </div>

    <div class="link">
        <label>Lien du favoris</label>
        <input data-text="link" type="text" name="link">
    </div>

    <div class="favorites__form-actions">
        <a href="#" data-action="persist" class="persist favorites orme">Confirmer</a>
        <a href="#" data-action="abandon" class="abandon favorites orme">Annuler</a>
    </div>
</div>