body {
    min-height: 100vh;
    background-color: $light-grey;
}

h3 {
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e1e4e8;
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container, 
.container-fluid {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.navbar {
    box-shadow: -1px -1px 20px #FFFFFF, 18px 18px 25px #D1D9E6;

    .logo {
        height: 46px;
    }

    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .nav-item > * {
        vertical-align: middle;
    }

    .dropdown-menu.fade {
        display: block;
        opacity: 0;
        pointer-events: none;
    }

    .show > .dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }

    .nav-link, 
    .navbar-toggler {
        border: none;
        outline: 0;
    }
}

.text-primary {
    color: $dark-blue !important;
}

.text-secondary {
    color: $light-grey !important;
}

.bg-primary {
    background-color: $dark-blue !important;
}

.bg-secondary {
    background-color: $light-grey !important;
}

.btn-primary {
    color: $light-grey;
    background-color: $dark-blue;
    border-color: $dark-blue;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $light-grey;
    background-color: #425591;
    border-color: #425591;
}

.btn-secondary {
    color: $dark-blue;
    background-color: $light-grey;
    border-color: $light-grey;
}

.btn-outline-primary {
    color: $dark-blue;
    background-color: transparent;
    background-image: none;
    border-color: $dark-blue;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: $light-grey;
    background-color: #425591;
    border-color: #425591;
}

.btn-outline-secondary {
    color: $light-grey;
    background-color: transparent;
    background-image: none;
    border-color: $light-grey;
}

.fa {
    margin: 0 0.25rem 0 0.25rem;
}

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}